* {
  box-sizing: border-box;
  word-break: keep-all;

  letter-spacing: -0.01em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

html,
body {
  --font-weight-bold: var(--font-weight-bold-en);

  margin: 0;
  width: 100%;
  height: 100%;

  font-size: 16px;
  font-family: soleil, 'source-han-sans-cjk-ko', sans-serif;
  line-height: 1.6;

  color: var(--color-text);
  background-color: var(--color-background);
}

html[lang="ko-KR"],
html[lang="ko-KR"] body {
  --font-weight-bold: var(--font-weight-bold-ko);
  font-family: 'source-han-sans-cjk-ko', sans-serif;
}

.text-en {
  font-family: soleil, 'source-han-sans-cjk-ko', sans-serif;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

#sapper {
  position: relative;
  height: auto !important;
  min-height: 100%;
}

button,
input,
textarea {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.5rem 0;
  line-height: 1.25;
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: 2rem;
}

a {
  color: inherit;
}

code {
  font-family: monospace;
  font-size: calc(1em - 2px);
  padding: 0.2em 0.4em;
}
